@tailwind base;
@tailwind components;
@tailwind utilities;

/*General*/
:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary-color:#0abab5;
  --secondary-color:#FFB74D;
}

html::-webkit-scrollbar{
  width: 0.1vw;
  background-color: var(--background);
}

html::-webkit-scrollbar-thumb{
  background-color: var(--foreground);
  border-radius: 20px;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.z-0{
  z-index: 0;
}

.z-10{
  z-index: 10;
}

.bg-white-semi-transparent{
  background-color: rgba(255, 255, 255, 0.233);
}

/*Component Nav*/
.navoption{
  padding:0.5%;
}

.navoption:hover{
  background-color: rgba(255, 255, 255, 0.39);
  border-radius: 20px;
}

.usu-bg-nav{
  background-image: linear-gradient(to right, var(--secondary-color),var(--primary-color));
}

.usu-nav-center{
  display: flex;
  justify-content: space-between;
}

.usu-triangle{
  position: absolute;
  left:30;
  height: 0;
  width: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 40px solid var(--primary-color);
  animation: triangle-move 10s;
  z-index: 9;
}

.usu-list-nav>li{
  margin-left: 60;
  margin-right: 60;
}

.header{
  height:65vh;
  width: 100vw;
  background-image:linear-gradient(75deg,var(--console-color-dark),var(--console-color-light));
  z-index:10;
  padding-left:5%;
}



/*Home*/
.cursor{
  background-color: #ffffff;
  width: 30px;
  height: 65px;
  animation: cursor 1s infinite;
}

.bg-console{
  position: absolute;
  font-size: 50%;
  width: 100%;
  filter: blur(6px);
}

.tab-1{
  position: absolute;
  left: 10%;
}

.tab-2{
  position: absolute;
  left: 20%;
}

.reserved-word{
  color:#0D47A1;
}

.object-name{
  color:rgb(0, 197, 59)
}

.function-name{
  color: rgb(218, 0, 199);
}

.string-color{
  color: rgb(250, 171, 0);
}

footer{
  background: black;
  padding: 2%;
}
/*Config Dark mode*/
@media (prefers-color-scheme: dark) {
  :root {
    --background: #202020;
    --background-light: #292929;
    --background-lighter: #3a3a3a;
    --console-color-dark: rgb(12, 12, 12);
    --console-color-light: rgb(18,18,18);
    --foreground: #ededed;
    --primary-color:#0D47A1;
    --secondary-color:#9C27B0;
    --green:rgb(8, 235, 0);
  }

}

/*Animações*/
@keyframes triangle-move{
  from{top:120px;transform: rotate(0deg);}
  to{top:-40px;transform: rotate(220deg);}
}

@keyframes cursor{
  from{opacity: 1;}
  to{opacity: 0;}
}

