@tailwind base;
@tailwind components;
@tailwind utilities;

/*General*/
:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary-color:#0abab5;
  --secondary-color:#FFB74D;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

/*Nav*/
.usu-bg-nav{
  background-image: linear-gradient(to right, var(--secondary-color),var(--primary-color));
}

.usu-nav-center{
  display: flex;
  justify-content: space-between;
}

.usu-triangle{
  position: relative;
  z-index: 10;
  height: 0;
  width: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 20px solid var(--primary-color);
}

.usu-list-nav>li{
  margin-left: 60;
  margin-right: 60;
}

/*Config Dark mode*/
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --primary-color:#0D47A1;
    --secondary-color:#9C27B0;

  }

}


