@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.usu-bg-nav{
  background-image: linear-gradient(to right, rgb(18, 18, 18 ),rgb(255, 123, 0));
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
  .usu-bg-nav{
    background-image: linear-gradient(to right, rgb(8, 8, 8 ),rgb(8,8,20));
  }


}


